h1 {
    color: #ff0000;
}

.wmd-panel{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.comment-reply{
    display:none;
}

body {
    background: url(http://127.0.0.1:8000/media/7/techblog.jpg);
    background-size: contain;
}